@font-face {
  font-family: "Panchang";
  src: url("./assets/fonts/Panchang-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: "Technor";
  src: url("./assets/fonts/Technor-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}
.offering-container{
  width: 100vw;
  height: 100vh;
  background: #000000;
}

.offering-main{
  padding-top: 5rem;
}
.offering-main h2{
  font-size: 3rem;
  text-align: center;
font-family: 'Panchang', sans-serif;
  
}
.offering-main span{
text-transform: uppercase;
}
.cards-container{
  padding: 5rem;
  padding-top: 10rem;
  gap: 3rem;
}
.cards{
  background: transparent !important;
  padding: 3rem ;
border: 1px solid rgba(255, 255, 255, 0.2); 
  border-radius: 1rem;
  backdrop-filter: blur(10px); 
}
.cards h3{
  font-family: 'Technor',sans-serif;
}